{deps, [
    {grisp, {git , "https://github.com/grisp/grisp", {branch, "ziopio/gpios"}}},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {rosie_rclerl, "*.", {git, "https://github.com/rosie-project/rosie_rclerl.git", {branch, "main"}}},
    {tf2_msgs, {ros2, galactic, {branch, "ros2"}}},
    {visualization_msgs, {ros2, galactic}}
]}.

{erl_opts, [debug_info]}.

{plugins, [
    rebar3_appup_plugin,
    rebar3_grisp,
    {rosie_ros2_deps, "*.",
        {git, "https://github.com/rosie-project/rosie_ros2_deps.git", {branch, "master"}}},
    {rosie_interface_compiler, "*.",
        {git, "https://github.com/rosie-project/rosie_interface_compiler.git", {branch, "master"}}}
]}.

{grisp, [
    {platform, grisp2},
    {otp, [
        {version, "23"}
    ]},
    {deploy, [        
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{shell, [{apps, []}, {script_file, "ping_robo_grisp.escript"}]}.

{alias, [{dev, [{shell, "--sname dev_node --setcookie robo_grisp"}]}]}.

{relx, [
    {release, {robo_grisp, "0.2.0"}, [{epmd, none}, robo_grisp, sasl]}
]}.

{provider_hooks, [
    {pre, [{compile, {rosie, compile}}]},
    {post, [{clean, {rosie, clean}}]},
  
    {pre, [{tar, {appup, tar}}]},
    {post, [{compile, {appup, compile}},
            {clean, {appup, clean}}]}
]}.
  